* {
  .border-radius(0) !important;
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.text-divider {
  margin: 1.2em 0;
  line-height: 0;
  text-align: center;
}

.text-divider span {
  background-color: #ffffff;
  padding: 0.5em;
}

.text-divider:before {
  content: " ";
  display: block;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #f7f7f7;
}

.load-window {
  overflow: scroll;
  height: 15%;
  width: 80%;
  left: 10%;
  align-items: center;
}

.config-window {
  overflow: scroll;
  height: 75%;
  width: 80%;
  left: 10%;
  align-items: center;
}

select {
  height: 15px;
  border-radius: 0px;
  background: #ffffff;
}

body {
	color: #000;
	font-family:Monospace;
	font-size:13px;
	text-align:center;
	background-color: #fff;
	margin: 0px;
  height: 100%;
  width: 100%;
	overflow: hidden;
}
#info {
	position: absolute;
	top: 0px; width: 100%;
	padding: 5px;
}
a {
	color: #0080ff;
}

/* DAT GUI */


.dg {
  text-align: left;
}

.dg {
  font: 400 5px Verdana, Arial, sans-serif;
} 

.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  height: 120px;
  width: 70%;
  overflow-x:hidden;
  overflow-y:auto;
}

.dg .property-name {
  font-size: 9px;
}

input {
  line-height: normal;
}

.dg .cr.function, .dg .cr.function .property-name, .dg .cr.function *, .dg .cr.boolean, .dg .cr.boolean *, .dg .cr.number, .dg .cr.number *, .dg .cr.string, .dg .cr.string * {
  /* height: 12px; */
}

.dg .c select {
  margin-top: 0px;
}